<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:head_title) ? yield(:head_title) : "Heart In The Tropics" %></title>
	<%= content_for?(:head) ? yield(:head) : '' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="header">
			<%= image_tag('mitt-logo-square.png') %>
			<p class="first">Heart In The Tropics</p>
			<p>February 15, 2014</p>
		</div>
		<%= yield %>
	</div>
    <%= javascript_include_tag "application" %>
	<div id="footer">
		&copy; 2013.  All rights reserved.  Made with &hearts; by <a href="http://www.webonlineventures.com">Online Ventures</a>.
	</div>
</body>
</html>
